<div class="row">
    <div class="small-12 columns">

    	<ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="/collections/">Collections</a>
            <li class="current"><a href="{{ collection.url }}">{{ collection.title }}</a></li>
        </ul>

		{% paginate collection.products by 12 %}

			{% if collection.products.size == 0 %}
				<p>No products found in this collection.</p>
			{% else %}

				<h3>{{ collection.title }}</h3>
				{{ collection.description }}
				<hr>

				<ul class="small-block-grid-2 large-block-grid-3">
					{% for product in collection.products %}
						{% include 'product' with product %}
					{% endfor %}
				</ul>
					
				{% include 'pagination' %}

			{% endif %}

		{% endpaginate %}

	</div>
</div>