<div class="row">
    <div class="small-12 columns">

        <h2>Search</h2>

        <div class="panel">
                
            <form action="/search" method="get">
                <div class="row">
                    <div class="small-10 columns">
                        <input type="text" name="q" placeholder="">
                    </div>
                    <div class="small-2 columns">
                        <button class="button prefix">Search</button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>