// Foundationify Settings

$fontAwesomePath: ".";

// Add any Foundation settings here. E.g.
// $body-bg: #fff;
// $body-font-color: #222;
// $body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
// $body-font-weight: normal;
// $body-font-style: normal;